@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box !important;
}

.nft {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.pr-25 {
    padding-right: 25px;
}

.gap-60 {
    gap: 60px;
}

.pt-16 {
    padding-top: 16px;
}

.font {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pr-63 {
    padding-right: 63px;
}

.pt-18 {
    padding-top: 18px;
}

.pb-19 {
    padding-bottom: 19px;
}

.box-form {
    display: flex;
    width: 315px;
    padding: 8px 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 25.5px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider.round:before {
    border-radius: 50%;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider.round {
    border-radius: 34px;

}

.gap-25 {
    gap: 25px;
}

.bg-image {
    background-image: url(../images/unsplash_H8X-2bchJI8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.pt-40 {
    padding-top: 40px;
}

.pl-40 {
    padding-left: 40px;
}

.pt-72 {
    padding-top: 72px;
}

.pl-47 {
    padding-left: 47px;
}

.h2 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0 !important;
}

.p1 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
    margin-bottom: 0 !important;
}

.h1 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0 !important;
    opacity: 0.6;
    padding-top: 24px;
}

.p-1 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
}

.gap-88 {
    gap: 88px;
}

.align-items-end {
    align-items: end;
}

.line::before {
    content: "";
    position: absolute;
    opacity: 0.2;
    background: #000;
    width: 3px;
    height: 50%;
    top: 30%;
    left: 28%;
}

.line::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 3px;
    opacity: 0.2;
    background: #000;
    left: 71%;
    top: 30%;
}

.para1 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    opacity: 0.6;
    padding-top: 75px;
    padding-bottom: 38px;
}

.pos-absolute1 {
    position: absolute;
    top: 50%;
    left: 41%;
}

.line-1::before {
    position: absolute;
    content: "";
    width: 96%;
    top: 21%;
    background: #000;
    opacity: 0.2;
    height: 3px;
}

.translate-y {
    transform: translatey(68%);
}

.shadow {
    border-radius: 30px !important;
    box-shadow: 0px 38px 85px -19px #0000001A !important;
}

.btn-1 {
    position: absolute;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
    padding: 8px 24px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 25.5px;
    background: #000;
    top: 6%;
    right: 4%;
}

.btn-1:hover {
    background: #FFF;
    color: black;
}

.gap-15 {
    gap: 15px;
}

.pt-400 {
    padding-top: 400px;
}

.pl-35 {
    padding-left: 35px;
}

.pos-ab {
    position: absolute;
    bottom: 5%;
    left: 8%;
}

.para2 {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0 !important;
}

.pl-60 {
    padding-left: 60px;
}


.pt-34 {
    padding-top: 34px;
}

.pb-100 {
    padding-bottom: 100px;
}

.ml-15 {
    margin-left: 15px;
}

.pl-30 {
    padding-left: 30px;
}

.pt-270 {
    padding-top: 270px;
}

.heart {
    cursor: pointer;
}

.heart:hover {
    fill: #FFF;
}


@media (max-width:1202px) {
    label[for="menubar"] {
        display: flex;
        width: 30px;
        height: 25px;
        flex-direction: column;
        z-index: 3;
        cursor: pointer;
        justify-content: space-between;
    }

    label[for="menubar"]>span {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        width: 5px;
        height: 100%;
        z-index: 2;
        cursor: pointer;

    }

    label[for="menubar"]>span {
        width: 100%;
        height: 2px;
        border-radius: 5px;
        background: black;
    }


    .z-index {
        z-index: 2;
    }

    .mobile-view {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: -100%;
        width: 43%;
        height: 35%;
        background-color: white;
        flex-direction: column;
        z-index: 2;
        transition: all 500ms linear;
    }

    input[type="checkbox"][id="menubar"]:checked+ul.mobile-view {
        left: 0;
        pointer-events: all;
        opacity: 1;
    }

    nav {
        position: fixed;
        width: 100%;
        z-index: 2;
    }
}

@media (max-width:450px) {
    .btn-1 {
        top: 27% !important;
        right: 33% !important;
    }

    .translate-y {
        transform: translatey(29%) !important;
    }

    .gap-41 {
        gap: 41px;
    }

    .pt-12 {
        padding-top: 12px;
    }

    .line-1::before {
        width: 78% !important;
        top: 5% !important;
    }
}

@media (max-width:390px) {
    .btn-1 {
        top: 23% !important;
        right: 30% !important;
    }

    .line-1::before {
        width: 85% !important;
        top: 5% !important;
    }

    .gap-8 {
        gap: 8px;
    }

    .pl-11 {
        padding-left: 11px;
    }

}



@media (max-width:768px) {
    .line::after {
        left: 39%;
    }

    .line::before {
        left: 15%;
    }

    .line-1::before {
        width: 84%;
        top: 12%;
    }

}

@media (max-width:576px) {
    .pt-sm-400 {
        padding-top: 400px;
    }

    .line-1::before {
        width: 84%;
        top: 12%;
    }

    .btn-1 {
        top: 30%;
        right: 35%;
    }

    .gap-15 {
        gap: 15 !important;
    }

    .pl-35 {
        padding-left: 35px !important;
    }

    .pl-60 {
        padding-left: 60px !important;
    }
}



@media (min-width:992px) {
    .fs-lg-36 {
        font-size: 36px;
    }

    .w-lg-100 {
        width: 100%;
    }

    .justify-content-lg-start {
        justify-content: flex-start !important;
    }

    .pl-lg-40 {
        padding-left: 40px;
    }


}

@media (max-width:992px) {
    .text-align-center {
        text-align: center !important;
    }

    .line-1::before {
        width: 88%;
        top: 12%;
    }

    .gap-0 {
        gap: 0;
    }

}

@media (max-width:1400px) {
    .line::after {
        left: 71%;
    }

    .gap-0 {
        gap: 0;
    }

    .pl-10 {
        padding-left: 10px;
    }

    .pl-20 {
        padding-left: 20px;
    }

    .gap-9 {
        gap: 9px;
    }
}

@media (max-width:1200px) {
    .line::after {
        left: 72%;
    }

    .line::before {
        left: 29%;
    }

    .gap-0 {
        gap: 0;
    }

    .pl-10 {
        padding-left: 10px;
    }

    .pl-20 {
        padding-left: 20px;
    }

    .gap-9 {
        gap: 9px;
    }

    .line-1::before {
        width: 91%;
        top: 12%;
    }
}